body {
    background-color: lightgray;
}

button {
    background-color: lightskyblue;
    min-width: 100px;
    margin: 10px;
    text-align: center;
}

.float {
    
    float: left;
    margin: 10px;
    
    
}